<link rel="stylesheet" href="./app/css/materialize.min.css">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="nav-wrapper" id="example-navbar-collapse">
        <ul class="nav navbar-nav navbar-left">
            <li id="home" class="brand-logo"><md-button><b>&nbsp;&nbsp;<img src="./app/img/logo.png" alt="beau colore" width="145" height="49"></b></md-button></li>
        </ul>
        <ul id="listMain" class="right hide-on-med-and-down">
            <li id="services"><a  href="#" class="btn-flat transparent "><span> Our Services</span></a></li>
            <li id="portfolio"><a  href="#" class="btn-flat transparent "><span> Beauty Tips</span></a></li>
            <li id="about"><a  href="#" class="btn-flat transparent "><span> Upcoming Events</span></a></li>
            <li id="contact"><a  href="#" class="btn-flat transparent "><span> Contact Us</span></a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;
        </ul>
        <ul id="nav-mobile" class="side-nav">
            <li id="home" class=""><md-button><b><hr><img src="./app/img/logo.png" alt="beau colore" width="145" height="49"> <hr></b></md-button></li>
            <li class=" closenav"><a  href="#"> Our Services</a></li>
            <li class=" closenav"><a  href="#"> Beauty Tips</a></li>
            <li class=" closenav"><a  href="#"> Upcoming Events</span></a></li>
            <li class=" closenav"><a  href="#"> Contact Us</a></li>
           &nbsp;&nbsp;&nbsp;&nbsp;
        </ul>
        <span>
            <a id="button-collapse" href="#" data-activates="nav-mobile" class="button-collapse menu-icon"><i class="fas fa-bars blackout"></i></a>
        </span>
    </div>
</nav>
<script src="./app/js/materialize.min.js"></script>
<script type="text/javascript">
    $('.button-collapse').sideNav();
</script>
